<div class="row">
 <div class="col-lg-4" >
 </div>



 <div class="col-lg-6">
  <body>
　 <h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About</h1>
  <p></p>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ながのCAKEは全国発送可能なケーキ屋さんです。</th><br>
  <th>&nbsp;&nbsp;&nbsp;お子様からお年寄りの方までお召し上がりいただけるよう、</th><br>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;様々なバリエーションをご用意しております。</th><br>
<th>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文頂けます。</th><br>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ぜひご注文ください。</th>
  </body>
 </div>
</div>

